<div class="page-not-found">
	<div class="page-not-found__container">
		<img src="../../../assets/page-not-found.png" alt="Page Not Found Image" />
		<div class="page-not-found__container__info">
			<h1 class="page-not-found__container__headline">PAGE NOT FOUND</h1>
			<p class="page-not-found__container__text">
				The page that you're trying to enter doesn't exist. <br />
				To go back to the app click the link below
			</p>
			<button mat-raised-button routerLink="/home">Back Home</button>
		</div>
	</div>
</div>
