@import './am-styles.scss';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background-color: var(--color-primary-light);
	display: grid;
	align-items: center;
	justify-content: center;
}

:root {
	--color-primary-light: rgb(238, 0, 95);
	--color-primary-dark: #c2185b66;
	--color-secondary-light: #b0bec51a;
	--color-secondary-dark: #303030;
	--white: #fff;
	--black: #000;
}
