html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
	--color-primary-light: #ee005f;
	--color-primary-dark: #c2185b66;
	--color-secondary-light: #b0bec51a;
	--color-secondary-dark: #303030;
}
