<div class="transactions">
	<div class="transactions__buttons">
		<button mat-raised-button color="primary">ADD TRANSACTION</button>
	</div>
	<div class="transactions__table">
		<div *ngIf="this.transactions$ | async as transactions">
			<table mat-table [dataSource]="transactions">
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef>Name</th>
					<td mat-cell *matCellDef="let element">{{ element.name }}</td>
				</ng-container>

				<ng-container matColumnDef="ticker">
					<th mat-header-cell *matHeaderCellDef>Ticker</th>
					<td mat-cell *matCellDef="let element">{{ element.ticker }}</td>
				</ng-container>

				<ng-container matColumnDef="date">
					<th mat-header-cell *matHeaderCellDef>Date</th>
					<td mat-cell *matCellDef="let element">{{ element.date }}</td>
				</ng-container>

				<ng-container matColumnDef="account">
					<th mat-header-cell *matHeaderCellDef>Account</th>
					<td mat-cell *matCellDef="let element">{{ element.account }}</td>
				</ng-container>

				<ng-container matColumnDef="assetType">
					<th mat-header-cell *matHeaderCellDef>Asset Type</th>
					<td mat-cell *matCellDef="let element">{{ element.assetType }}</td>
				</ng-container>

				<ng-container matColumnDef="amount">
					<th mat-header-cell *matHeaderCellDef>Amount</th>
					<td mat-cell *matCellDef="let element">{{ element.amount }}</td>
				</ng-container>

				<ng-container matColumnDef="price">
					<th mat-header-cell *matHeaderCellDef>Price</th>
					<td mat-cell *matCellDef="let element">{{ element.price }}</td>
				</ng-container>

				<ng-container matColumnDef="transactionCost">
					<th mat-header-cell *matHeaderCellDef>Transaction Cost</th>
					<td mat-cell *matCellDef="let element">{{ element.transactionCost }}</td>
				</ng-container>

				<ng-container matColumnDef="transactionType">
					<th mat-header-cell *matHeaderCellDef>Transaction Type</th>
					<td mat-cell *matCellDef="let element">{{ element.transactionType }}</td>
				</ng-container>

				<ng-container matColumnDef="currency">
					<th mat-header-cell *matHeaderCellDef>Currency</th>
					<td mat-cell *matCellDef="let element">{{ element.currency }}</td>
				</ng-container>

				<ng-container matColumnDef="exchangeRate">
					<th mat-header-cell *matHeaderCellDef>Exchange Rate</th>
					<td mat-cell *matCellDef="let element">{{ element.exchangeRate }}</td>
				</ng-container>

				<ng-container matColumnDef="totalPrice">
					<th mat-header-cell *matHeaderCellDef>Total Price</th>
					<td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: this.displayedColumns"></tr>
			</table>
		</div>
	</div>
</div>
