<mat-toolbar class="navbar">
	<mat-icon class="icon" color="primary"> bar_chart</mat-icon>
	<div class="nav-buttons">
		<button mat-button routerLink="/home" routerLinkActive="active-button">
			OVERVIEW
		</button>
		<button mat-button [matMenuTriggerFor]="menu">TRANSACTIONS</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon>note_add</mat-icon> Add Transaction
			</button>
			<button mat-menu-item>
				<mat-icon>edit</mat-icon>
				Edit Transaction
			</button>
			<button mat-menu-item>
				<mat-icon>delete</mat-icon>Delete Transaction
			</button>
		</mat-menu>
		<button mat-button routerLink="/portfolio" routerLinkActive="active-button">
			PORTFOLIO
		</button>
		<button
			mat-button
			routerLink="/predictions"
			routerLinkActive="active-button"
		>
			PREDICTIONS
		</button>
		<button mat-button routerLink="/history" routerLinkActive="active-button">
			HISTORY
		</button>
	</div>
	<div class="auth-buttons">
		<button mat-button>SIGN IN</button>
		<button color="primary" mat-button>SIGN UP</button>
	</div>
</mat-toolbar>
