.navbar {
	background-color: var(--color-secondary-dark);
	height: 100%;
	border-radius: 3px 3px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	border-bottom: 2px solid var(--color-primary-light);
}

.nav-buttons {
	display: flex;
	gap: 1.5rem;
}

.icon {
	transform: scale(2);
}
